/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	background:#F0EFEE;
}
/*---start-wrap----*/
.wrap{
	width:80%;
	margin:0 auto;
}
/*---start-header----*/


.box{
	position:absolute;
	top:-100px;
	width:100%;
	color:#7F7F7F;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:0px;
 }
.box_content_center{
	background: rgba(240, 239, 238, 0.74);
}
a.boxclose{
	cursor: pointer;
	text-align: center;
	display: block;
	position: absolute;
	top: 1.9em;
	right: 15em;
 }
 #activator {
}
.menu_box_list{
	display:inline-block;
	padding: 2.1em 0;
}
.menu_box_list ul li {
	display: inline-block;
}
.menu_box_list li a{
	display: block;
	color: #363636;
	font-size: 0.875em;
	margin: 0.44em 2em;
	font-weight: 900;
	text-transform: uppercase;
	text-align: left;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.menu_box_list li a:hover{
	color:#B9CB41;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
	padding-right:10px;
}
.boxclose span{
	width:35px;
	height:35px;
	display:inline-block;
	background:url(../images/close2.png) no-repeat 0px 0px;
}
.boxclose span:hover{
	background:url(../images/close2h.png) no-repeat 0px 0px;
}

.extra-wrap {
	overflow: hidden;
}
.extra-wrap p {
	color: #626262;
	line-height: 1.8em;
	font-size: 0.85em;
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
}

/*--media Quries for 1440px-monitors-*/
@media only screen and (max-width:1440px) and (min-width:1366px) {
	.wrap{
		width:85%;
	}
}
/*--//End-media Quries for 1440px-monitors-*/
/*--media Quries for 1366px-monitors-*/
@media only screen and (max-width:1366px) and (min-width:1280px) {
	.wrap{
		width:90%;
	}
	
}
/*--//End-media Quries for 1366px-monitors-*/
/*--media Quries for 1280px-monitors-*/
@media only screen and (max-width:1280px) and (min-width:1024px) {
	.wrap{
		width:80%;
	}
	
}
/*--//End-media Quries for 1280px-monitors-*/
/*--media Quries for 1024px-monitors-*/
@media only screen and (max-width:1024px) and (min-width:768px) {
	.wrap{
		width:90%;
	}
	
	a.boxclose {
		right: 6em;
		top: 2em;
	}
}
/*--//End-media Quries for 1024px-monitors-*/
/*--media Quries for 768px-monitors-*/
@media only screen and (max-width:768px) and (min-width:640px) {
	.wrap{
		width:90%;
	}
	
	a.boxclose {
		right: 1em;
		top: 2em;
	}
	
	.menu_box_list li a {
		margin: 0.44em 1.5em;
	}
}
/*--//End-media Quries for 768px-monitors-*/
/*--media Quries for 640px-monitors-*/
@media only screen and (max-width:640px) and (min-width:480px) {
	.wrap{
		width:90%;
	}
	
	a.boxclose {
		right: 1em;
		top: 2em;
	}
	
	.menu_box_list li a {
		margin: 0.44em 1.5em;
	}
	
	.menu_box_list ul li {
		display:block;
	}
	.box {
		top: -12px;
	}
	
}
/*--//End-media Quries for 640px-monitors-*/
/*--media Quries for 480px-monitors-*/
@media only screen and (max-width:480px) and (min-width:320px) {
	.wrap{
		width:90%;
	}
	
	a.boxclose {
		right: 1em;
		top: 2em;
	}
	
	.menu_box_list li a {
		margin: 0.44em 1.5em;
	}
	
	.menu_box_list ul li {
		display:block;
	}
	.box {
		top: -12px;
	}
}
/*--//End-media Quries for 480px-monitors-*/
/*--media Quries for 320px-monitors-*/
@media only screen and (max-width:320px) and (min-width:240px) {
	.wrap{
		width: 90%;
	}
	
	a.boxclose {
		right: 1em;
		top: 2em;
	}
	
	.menu_box_list ul li {
		display:block;
	}
	.box {
		top: -12px;
	}
	
}

	.destacados{
    padding: 20px 0;
	
	}
	.destacados > div > div{
		padding: 10px;
		border: 1px solid transparent;
		border-radius: 4px;
		transition: 0.2s;
	}
	.destacados > div:hover > div{
		margin-top: -10px;
		border: 1px solid rgb(200, 200, 200);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
		background: rgba(200, 200, 200, 0.1);
		transition: 0.5s;
}

.img-de{
   height: 120px;
   width: 120px;
   margin: 5px 30px 30px 25px;
   position: relative;

   float: left;
   overflow: hidden;
     
   -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
       border-radius: 50%;
}

.md p{
	margin: .8em;
	text-align: left;
}

.md h1{
	text-align: center;
	margin: .2em;
}


/*--//End-media Quries for 320px-monitors-*/