{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block css%}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
{% endblock %}
{% block content %}

<div class="container">
<div class="row">
<div class="col-md-6">
<form action="" method="post">{% csrf_token %}
<div class="row ls">
<div class="col-md-12">{% bootstrap_field form.email%}</div>
<div class="col-md-12">{% bootstrap_field form.subject%}</div>
<div class="col-md-12">{% bootstrap_field form.message%}</div>
{% buttons %}
<div class="col-md-12">
        <button type="submit" class="btn btn-danger">
            Enviar
        </button>
    {% endbuttons %}
</div>
</div>
</form>
</div>
<div class="col-md-6">
	<div class="kf">
		<H1>¡Cotiza nuestros servicios!</H1>
		<div class="wa">
		<div class="ctic"><img src="{% static 'img/wa.png' %}"></div><div class="ctin">3176482525</div>
		</div>
	</div>	
</div>
</div>
</div>


{% endblock %}