{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block css%}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
{% endblock %}
{% block content %}

<div class="container">
<div class="row">
<div class="col-md-6">
<img src="{% static 'img/logos.jpg'%}" style="margin:0px !important">
<form action="" method="post">{% csrf_token %}
<div class="row ls">
<div class="col-md-12">{% bootstrap_field form.name%}</div>
<div class="col-md-12">{% bootstrap_field form.tel%}</div>
<div class="col-md-12">{% bootstrap_field form.city%}</div>
<div class="col-md-12">{% bootstrap_field form.email%}</div>
<div class="col-md-12">{% bootstrap_field form.subject%}</div>
<div class="col-md-12">{% bootstrap_field form.message%}</div>
{% buttons %}
<div class="col-md-12">
        <button type="submit" class="btn btn-danger">
            Enviar
        </button>
    {% endbuttons %}
</div>
</div>
</form>
</div>
<div class="col-md-6">
	<div class="kf">
		<div><img src="{% static 'img/ttm.png' %}"></div>
		<div class="ctic"><img src="{% static 'img/numero.png' %}"></div>
		</div>
	</div>	
</div>
</div>
</div>


{% endblock %}