{% extends "base.html" %}
{% load static from staticfiles%}
{% block content %}
	<section class="billboard">
			<div class="wrapper">
				<div class="caption">
					<p>Linguo Idiomas</p>
					<p>¡Idiomas para todos!</p>
				</div>
			</div>
	</section><!--  End Billboard  -->

	<section class="features">

		<div class="wrapper">
			{% for feature in features %}
				<div class="feature">
					<div class="ficon">
					    {% static 'img/idea.png' as im1 %}
					    {% static 'img/prof.png' as im2 %}
					    {% static 'img/rev.png' as im3 %}
						<img src="{% cycle im1 im2 im3 %}" alt="">
					</div>
					<div class="details_exp">
						<h3>{{feature.titulo}}</h3>
						<p>{{feature.texto}}</p>
					<!--	<a href="#">more details<span>→</span></a> -->
					</div>
			</div>
			{% endfor %}
			</div>

	</section><!--  End Features  -->

	<section class="testimonials wrapper">

		<span class="sep_line sep_top">
		</span>

		<h2>Testimonials</h2>
		<div class="testi_slider" id="tslider">
			<div class="t">
				<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu pariatur.</p>
				<p class="author">John Doe - UX Designer</p>
			</div>
			<div class="t">
				<p>Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu pariatur.</p>
				<p class="author">Jane Eva - SEO Expert</p>
			</div>
			<div class="t">
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu pariatur, Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<p class="author">John David - Developer</p>
			</div>
		</div>
		<div id="t_navigation"></div>
		<span class="sep_line sep_bottom"></span>

	</section><!--  End Testimonials  -->

{%endblock%}