{% extends "base.html" %}
{% load static from staticfiles%}
{% block css %}
	{{block.super}}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
{% endblock %}
{% block content %}
	<div class="row" style="float:right; padding-top:10px">
			<div class="col-md-3"><strong>Busca tu profesor :</strong></div>
			<div class="col-md-3" style="padding-right:150px">
				<select form="lol" name="q">
					<option selected="selected" value="">Escoge una ciudad</option>
					{% for ciudad in ciudades%}		
						<option value="{{ciudad.nombre}}">{{ciudad.nombre}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-3">
				<select form="lol" name="n">
					<option selected="selected" value="">Escoge un sector</option>
					{% for sector in sectores%}		
						<option value="{{sector}}">{{sector}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-2">
				<form method="GET" id="lol" action="{% url 'profesores' %}">
					<button type="submit">Buscar</button>
				</form>		
			</div>
		</div>

	<section class="billboard">
			<div class="wrapper">
				<div class="caption">
					<p><FONT style="font-style:italic;margin-left:100px;color:red">¿Buscas profesor privado</FONT><BR>
					 <FONT style="font-size:60px; margin-left:30px"> de idiomas a domicilio?</FONT>
					 <BR class="trem"><BR class="trem"><BR>

  					<FONT class="variable" style="font-size:30px; margin-left:350px;float:left">Clases privadas de inglés a domicilio</FONT><BR>
  					<FONT class="variable" style="font-size:30px; margin-left:350px;float:left">Ingles a domicilio en todo cali</FONT><BR>
  					<FONT class="variable"  style="font-size:30px; margin-left:350px;float:left">Profesores con idioma nativo</FONT><BR>
  					<FONT class="variable" style="font-size:30px; margin-left:350px;float:left;margin-bottom:60px">Horarios flexibles o fijos</FONT><BR class="trem">
  					<p><FONT class="variable" style="padding-left:40px">Aquí están </FONT><br class="trem"><FONT class="variable" style="color:gray;padding-left:110px"><strong>los mejores</strong></FONT></p>
  					<p><FONT style="font-size:24px; margin-left:20px;float:left; text-align:center; font-family: arial">
					<u><strong><a href="/contacto">COTIZA TUS CLASES<br> HOY</a></strong></u></FONT></p>
					<div style="margin-top:10px; margin-right:100px; float:right">
					</div>
</div>
			</div>
	</section><!--  End Billboard  -->

	<section class="features">

		<div class="wrapper">
			{% for feature in features %}
				<div class="feature">
					<div class="ficon">
					    {% static 'img/idea.png' as im1 %}
					    {% static 'img/prof.png' as im2 %}
					    {% static 'img/rev.png' as im3 %}
						<img src="{% cycle im2 im3 im1 %}" alt="">
					</div>
					<div class="details_exp">

					{% if 'revista' in feature.titulo.lower %}
						<h3><a href="/revista">{{feature.titulo}}</a></h3>
						<p>{{feature.texto}}</p>
					<!--	<a href="#">more details<span>→</span></a> -->
					{% else %}
						<h3><a href="{{feature.titulo|lower}}">{{feature.titulo}}</a></h3>
						<p>{{feature.texto|safe}}</p>
					{% endif %}
					</div>
			</div>
			{% endfor %}
			</div>

	</section><!--  End Features  -->

	<section class="testimonials wrapper">

		<span class="sep_line sep_top">
		</span>

		<h2>LINGUO IDIOMAS LA MEJOR</h2>
		<div class="testi_slider" id="tslider">
			<div class="t">
				<p>Clases de inglés privadas.</p>
				<p class="author"><a style="text-decoration:none" href="/servicios">Conoce más</a></p>
			</div>
			<div class="t">
				<p>Profesores nativos.</p>
				<p class="author"><a style="text-decoration:none" href="/servicios">Conoce más</a></p>
			</div>
			<div class="t">
				<p>Clases de inglés a domicilio.</p>
				<p class="author"><a style="text-decoration:none" href="/servicios">Conoce más</a></p>
			</div>
			<div class="t">
				<p>Clases de inglés en el norte y sur de Cali.</p>
				<p class="author"><a style="text-decoration:none"href="/servicios">Conoce más</a></p>
			</div>
		</div>
		<div id="t_navigation"></div>
		<span class="sep_line sep_bottom"></span>

	</section><!--  End Testimonials  -->

{%endblock%}