{% extends "base.html" %}
{%load static from staticfiles%}

	{% block css %}
		<link href="{% static 'web/css/style.css'%}" rel='stylesheet' type='text/css' />
		<link rel="shortcut icon" type="image/x-icon" href="images/fav-icon.png" />
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!-- Global CSS for the page and tiles -->
  		<link rel="stylesheet" href="{% static 'web/css/main.css'%}">
  		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
	{% endblock %}

	{% block content %}
	<body>	
		<div class="container">
			<div class="row destacados">
			{% for profesor in object_list%}
				<div class="col-md-6 md">
		    		<div class="bckn" style="height:100%">
						<div><img src="{{profesor.foto_url}}" alt="Texto Alternativo" class="img-de"></div>
						<h1><strong>{{profesor.nombre}}</strong></h1>
						
						<h3><span class="glyphicon glyphicon-ok-circle"></span><strong>Idioma :</strong>
						{% for lang in profesor.idioma.all %}
						{{lang.nombre}}   
						{% if not forloop.last %} / {% endif%} 
						{% endfor %} </h3>
						
						<p><span class="glyphicon glyphicon-map-marker"></span><strong>Sector :</strong> {{profesor.sector}}</p>
						
						<p><span class="glyphicon glyphicon-blackboard"></span><strong>Modalidad :</strong>    {% for mod in profesor.modalidad.all %} 
							{{mod.modalidad}} 
							{% if not forloop.last %} / {% endif%} 
						{% endfor %}
						</p>
						
						<p><span class="glyphicon glyphicon-bookmark"></span> {{profesor.experiencia}} de experiencia</p>

						<a href="#" class="btn btn-danger" title="Enlace">Conoce más</a>
					</div>
				</div>
			{% endfor %}	
			</div>
		</div>


		<!---//End-content-->
	</body>
	{% endblock %}