{% extends "base.html" %}
{%load static from staticfiles%}

	{% block css %}
		<link href="{% static 'web/css/style.css'%}" rel='stylesheet' type='text/css' />
		<link rel="shortcut icon" type="image/x-icon" href="images/fav-icon.png" />
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!-- Global CSS for the page and tiles -->
  		<link rel="stylesheet" href="{% static 'web/css/main.css'%}">
  		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
	{% endblock %}

	{% block content %}
	<body>	
		<div class="container">
			<div class="row destacados">
			{% for profesor in object_list%}
				<div class="col-md-6 md">
		    		<div class="bckn">
						<img src="{{profesor.foto_url}}" alt="Texto Alternativo" class="img-de">
						<h2><strong>{{profesor.nombre}}</strong></h2>
						<h3><span class="glyphicon glyphicon-education"></span><strong>{{profesor.lugar_apredizaje}}</strong> </h3>
						<p><span class="glyphicon glyphicon-pencil"></span> {{profesor.estudios}}</p>
						<a href="#" class="btn btn-danger" title="Enlace">Conoce más</a>
					</div>
				</div>
			{% endfor %}	
			</div>
		</div>


		<!---//End-content-->
	</body>
	{% endblock %}