{% extends 'base.html' %}
{% load static from staticfiles %}
	{% block css %}
	
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
	
	{% endblock %}
	
	{% block js %}
	<script type="text/javascript">
$(document).ready(function() {
	$('.gj').hide();
	$('.ttc').hide();

	$(".tgl").click(function(){
        $(this).find('.gj').toggle("slow");
        console.log("click");
        return false;
    });

	$(".hj").click(function(){
        $(this).find('.ttc').toggle("slow");
        console.log("clock")
        return false;
    });

});
	</script>
	{% endblock %}


{% block content %}

	<div class="container">
	<div class="row">
	<div class="col-md-5 rs">
	<div class="titel"><h1>¡Practica y mejora con nostros!</h1></div>
	{% for mod in modulos %}

	<div class="col-md-12 tgl">
		<div class="well" >
		<h3>{{mod.modulo}}</h3>
		</div>
		<div class="gj">
		{% for lvl in mod.levels.all %}
		<div class="hj">
		
			<div class="well" style="{%cycle 'background-color:#E82761' 'background-color:#E300D0' 'background-color:#6600E3' 'background-color:#6A04C9'%} ; color: white;"><h2>{{lvl.nivel}}</h2></div>
			<div class="ttc">{{lvl.texto|safe}}</div>	
		</div>
		{% endfor %}
		</div>
	</div>
	{% endfor %}
	</div>			

	
	<div class="col-md-7">
		{% for not in connot %}
		<div class="col-md-12 rsa snr">
			
			<div class="col-md-12 "><h1>{{not.titulo}}</h1></div>
			<div class="col-md-12 nco">{{not.texto|safe}}</div>
			
		</div>	
		{% endfor %}
		</div>
	</div>

	</div>
	</div>
{% endblock %}