{% extends "base.html" %}
{% load static from staticfiles %}
{% block js%}
	 <script type="text/javascript">
	$(document).ready(function() {

    var showChar = 168;
    var ellipsestext = "...";
    var moretext = "Leer más";
    var lesstext = "Leer menos";
    $('.dfd').each(function() {
        var content = $(this).html();
       
 		console.log(content);
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar-1, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ ' </span><span class="morecontent"><span>' + h + '</span>  <a href="" class="morelink">' + moretext + '</a>';
            
 
            $(this).html(html);
            
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});</script>


{% endblock %}
{%block content %}
<body>
		<div class="content">
			<section class="info" >
				 {%for servicio in servicios%}
				<div class="info_pic" style="{%cycle 'float:right' 'float:left' %}; background: url('{{servicio.imagen}}') no-repeat  ">
				</div>
				 <div class="info_details more" style="{%cycle 'float:right' 'float:left' %}">
				 	<h3>{{servicio.titulo}}</h3>
				 	<div id="me">
				 	<p>{{servicio.texto}}</p>
				 	</div>
				 </div>
				 {% endfor %}
			</section>
			</div>	 
		</div>	
</body>
{% endblock %}